---
layout: post
title: Remake, Remodel.
categories:
- CMS
- Remake
- Website
permalink: /blog/2012/11/15/remake-remodel/
status: publish
type: post
published: true
meta:
  _edit_last: '1'
---
<p>Let's face it: ModX -- even with the Articles Plugin -- isn't suitable for fast blogging. At least not in the way I need it. So I switched back to Wordpress. Setting the whole thing up from scratch. So there will be some changes in the next days/weeks/months.</p>
